@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap'); 
*{
    font-family: 'Darker Grotesque', sans-serif;
}

body{
    padding:0px;
    margin:0px;
    overflow: auto;
    text-align: center;
}
header{
    background-color: orange;
    background-image: url("https://cdn.pixabay.com/photo/2019/05/29/16/00/retro-4237850_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    display: block;
    height:500px; 
}

header div{
    color:#fff; 
    padding:70px;
}
header div h3{
    font-size: 3em; 
}
header div p{
    display:block;
    width:50%; 
    text-align: left;
    font-size: 1em; 
} 

section{
    display: block;
    padding:50px;
    text-align: left;

}