@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,500&display=swap&subset=korean');

*{
    font-family: 'Gothic A1','Darker Grotesque', sans-serif;
}

body{
    padding:0px;
    margin:0px;
    overflow: auto;
    text-align: center;
}
header{
    background-color: orange;
    background-image: url("https://cdn.pixabay.com/photo/2019/05/29/16/00/retro-4237850_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    display: block;
    min-height:600px; 
    padding-top: 25%;
} 
header div{
    color:#fff; 
    padding:10px 70px; 
}
header div h1{
    font-size: 2em; 
    text-align: left;
}
header div p{
    display:block;
    width:100%; 
    text-align: left;
    font-size: 1em;   
} 
header a{
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    border-radius: 3px;
    padding:3px 5px;
    display: block;
    margin-top:10px;
}
h2{
    font-size: 1em; 
    display: block;
    padding-top:50px;
}
 
.content{ 
    display: block;
    padding:30px 20px;
    text-align: center;
    clear: both; 
    min-height:600px; 
    padding-top:10%;  
    background: rgb(255, 255, 251);
  } 
.content div{ 
    width:70%;   
    margin:auto;
}
b{
    font-weight: 500;
}
.content div h1{
    font-size: 1em; 
    font-weight: 500; 
}
.content div p{
    font-size: 0.9em;  
    font-weight: 300;
    margin-bottom: 35px;
}
.content i{ 
    font-style: normal;
    columns: #888888;
    font-size: 0.7em; 
    font-weight: 300;
}
.content img{ 
    display: block;
    width:80%;  
    margin:auto; 
}
.btn{
    float:right;
    font-size: 1em; 
    text-decoration: none;
    color: #eeeeee;  
    border-radius: 100%; 
    margin-top:-200px;
    text-shadow: 1px 1px 2px #00000044;
}
.left{
    float:left;
}
.content:nth-child(3){
    padding-top:15%;
}
.content:nth-child(3) .btn{
    margin-top:-100px;
}